html {
  background: #D8E1E8;
  color: #182026;
}

.scheme1 {
  background: #D8E1E8;
  color: #182026;
}

.scheme2 {
  background: #C4D2D3;
  color: #091B34;
}

.scheme3 {
  background: #091B34;
  color: #C4D2D3;
}

.markColorPrim {
  color: #182026;
}

.markColorSec {
  color: #dd22bb;
}

.markColorAct1 {
  color: #22bb22;
}

.markColorAct2 {
  color: #cfd149;
}

.markColorAct3 {
  color: #3838ef;
}

.alyssaColorPrim {
  color: #832927;
}

.alyssaColorSec {
  color: #7130df;
}

.alyssaColorAct1 {
  color: #ba9ef2;
}

.alyssaColorAct2 {
  color: #23a0e5;
}

.alyssaColorAct3 {
  color: #9933ff;
}

.mainContent {
  padding: 05%;
}

.tabBar {
  position: relative;
  top: 1000px;
  left: 1000px;
}